@import "./variables";
@import "./mixin";

.login-body{
    padding-top: 100px;
    padding-bottom: 100px;
    .button{
        button{
            @include button($main-color, $white-color, $border-color);
            padding: 2px 30px;
        }
    }
    p{
        .btn{
            text-decoration: underline;
            color:$main-color;
        }
    }
    svg{
        color:$main-color;
    }
}